extends layout

block content
  h3.post-header= thread.title
  ul#posts
    each post in posts
      li.post
        .row
          .col-sm-auto.author
            img(height='64', width='64')
            a(href='#').post-author= post.author
          .col-lg
            p.post-body= post.content
  form#new-post
    textarea#post-content(name="", cols="30", rows="10") 
