#threads {
  background-color: #333;
  border-radius: 5px;
  color: white;
  padding: 0px;
}
#threads > li {
  list-style-type: none;
}
.thread {
  border-bottom: 1px solid white;
  padding: 5px 30px;
}
.thread-title {
  color: white;
  font-weight: bolder;
  font-size: 24px;
}
.thread-title:hover,
.thread-title:focus {
  text-decoration: none;
  color: #cccccc;
}
.thread-author {
  color: white;
}
#posts {
  background-color: #333;
  border-radius: 5px;
  color: white;
  padding: 0px;
}
#posts > li {
  list-style-type: none;
}
.post {
  border-bottom: 1px solid white;
  padding: 5px 30px;
}
.post-header {
  color: black;
  font-weight: bolder;
  font-size: 24px;
}
.post-author {
  color: white;
  text-decoration: none;
}
.post-author:hover,
.post-author:focus {
  text-decoration: none;
  color: #cccccc;
}
.author {
  width: 64px;
  text-align: center;
}
.nav-inverse-bg-fg {
  background-color: #007575;
  color: white;
}
.nav-inverse-hover {
  background-color: #007575;
  color: white;
}
.nav-inverse-hover:hover {
  background-color: #004242;
  color: #e6e6e6;
}
.nav-inverse-hover:active {
  color: #e6e6e6;
}
.bg-inverse {
  background-color: #007575;
  color: white;
}
.navbar-brand {
  padding: 0.5rem 0rem;
  margin-left: 1rem;
  background-color: #007575;
  color: white;
}
.navbar-brand:hover {
  background-color: #004242;
  color: #e6e6e6;
}
.navbar-brand:active {
  color: #e6e6e6;
}
.navbar-inverse {
  padding: 0px 5px;
}
.navbar-inverse .dropdown-menu {
  background-color: #007575;
  color: white;
  margin-top: -1px;
}
.navbar-inverse .nav-item,
.navbar-inverse .dropdown-item,
.navbar-inverse .nav-link {
  background-color: #007575;
  color: white;
}
.navbar-inverse .nav-item:hover,
.navbar-inverse .dropdown-item:hover,
.navbar-inverse .nav-link:hover {
  background-color: #004242;
  color: #e6e6e6;
}
.navbar-inverse .nav-item:active,
.navbar-inverse .dropdown-item:active,
.navbar-inverse .nav-link:active {
  color: #e6e6e6;
}
.navbar-inverse .navbar-toggler:focus {
  box-shadow: none;
}
a {
  cursor: pointer;
}
* {
  transition: all 150ms linear;
}
.jumbotron {
  background-color: #002f2f;
  color: white;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
  color: white;
}
.btn-primary:hover {
  background-color: #cc8400;
  border-color: #cc8400;
  color: #e6e6e6;
}
.btn-secondary {
  background-color: #22c;
  border-color: #22c;
  color: white;
}
.btn-secondary:hover {
  background-color: #1b1ba0;
  border-color: #1b1ba0;
  color: #e6e6e6;
}
.btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
}
.btn-success:hover {
  background-color: #449d44;
  border-color: #449d44;
  color: #e6e6e6;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
  color: white;
}
.btn-danger:hover {
  background-color: #c9302c;
  border-color: #c9302c;
  color: #e6e6e6;
}
.btn-warning {
  background-color: #cccc00;
  border-color: #cccc00;
  color: white;
}
.btn-warning:hover {
  background-color: #999900;
  border-color: #999900;
  color: #e6e6e6;
}
.btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: white;
}
.btn-info:hover {
  background-color: #31b0d5;
  border-color: #31b0d5;
  color: #e6e6e6;
}
.btn-light {
  background-color: gray;
  border-color: gray;
  color: white;
}
.btn-light:hover {
  background-color: #676767;
  border-color: #676767;
  color: #e6e6e6;
}
.btn-dark {
  background-color: #333;
  border-color: #333;
  color: white;
}
.btn-dark:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #e6e6e6;
}
.btn-outline-primary {
  background-color: white;
  border-color: orange;
  color: orange;
}
.btn-outline-primary:hover {
  background-color: #cc8400;
  border-color: #cc8400;
  color: #e6e6e6;
}
.btn-outline-secondary {
  background-color: white;
  border-color: #22c;
  color: #22c;
}
.btn-outline-secondary:hover {
  background-color: #1b1ba0;
  border-color: #1b1ba0;
  color: #e6e6e6;
}
.btn-outline-success {
  background-color: white;
  border-color: #5cb85c;
  color: #5cb85c;
}
.btn-outline-success:hover {
  background-color: #449d44;
  border-color: #449d44;
  color: #e6e6e6;
}
.btn-outline-danger {
  background-color: white;
  border-color: #d9534f;
  color: #d9534f;
}
.btn-outline-danger:hover {
  background-color: #c9302c;
  border-color: #c9302c;
  color: #e6e6e6;
}
.btn-outline-warning {
  background-color: white;
  border-color: #cccc00;
  color: #cccc00;
}
.btn-outline-warning:hover {
  background-color: #999900;
  border-color: #999900;
  color: #e6e6e6;
}
.btn-outline-info {
  background-color: white;
  border-color: #5bc0de;
  color: #5bc0de;
}
.btn-outline-info:hover {
  background-color: #31b0d5;
  border-color: #31b0d5;
  color: #e6e6e6;
}
.btn-outline-light {
  background-color: white;
  border-color: gray;
  color: gray;
}
.btn-outline-light:hover {
  background-color: #676767;
  border-color: #676767;
  color: #e6e6e6;
}
.btn-outline-dark {
  background-color: white;
  border-color: #333;
  color: #333;
}
.btn-outline-dark:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #e6e6e6;
}
.alert-primary {
  background-color: #ffdb99;
  border-color: #ffb733;
  color: #cc8400;
}
.alert-secondary {
  background-color: #9999ee;
  border-color: #4242df;
  color: #1b1ba0;
}
.alert-success {
  background-color: #c7e6c7;
  border-color: #80c780;
  color: #449d44;
}
.alert-danger {
  background-color: #f4cecd;
  border-color: #e27c79;
  color: #c9302c;
}
.alert-warning {
  background-color: #ffff66;
  border-color: #ffff00;
  color: #999900;
}
.alert-info {
  background-color: #daf1f8;
  border-color: #85d0e7;
  color: #31b0d5;
}
.alert-light {
  background-color: #cdcdcd;
  border-color: #9a9a9a;
  color: #676767;
}
.alert-dark {
  background-color: #808080;
  border-color: #4d4d4d;
  color: #1a1a1a;
}
.badge-primary {
  background-color: orange;
}
.badge-secondary {
  background-color: #22c;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-danger {
  background-color: #d9534f;
}
.badge-warning {
  background-color: #cccc00;
}
.badge-info {
  background-color: #5bc0de;
}
.badge-light {
  background-color: gray;
}
.badge-dark {
  background-color: #333;
}
.navbar-toggler-icon {
  cursor: pointer;
}
.navbar-toggler-icon:focus {
  outline: none;
}
.card-body {
  padding: 20px;
}
.card-dark {
  background: #333;
  color: white;
}
.btn {
  cursor: pointer;
}
